@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181c14;
    --foreground: #ecdfcc;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  /* background: #000; */
  font-family: Arial, Helvetica, sans-serif;
}

.container-phone {
  width: 100%;
  max-width: 640px; /* Default phone width */
  margin: 0 auto; /* Center container */
  padding: 0; /* Add some padding */
}
